<h4>All Orders</h4>

<table class="striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Recipient</th>
      <th>Item Count</th>
      <th>Weight</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% filtered_orders = (current_user.role == "manager") ? @all_orders : @all_orders.select { |o| o.customer == current_user.customer } %>

    <% filtered_orders.each do |order| %>
    <tr>
        <td><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
        <td><%= order.address.recipient %></td>
        <!-- GenAI_prompts Row 15: ChatGPT, "Make it dynamic. 1 quantity will have "item" and 2 will have "items"-->

        <td><%= pluralize(order.order_items.sum(&:quantity), "item") %></td>
        <td><%= order.order_items.sum { |oi| oi.quantity * oi.item.weight } %></td>
        <td><%= number_to_currency(order.grand_total) %></td>
    </tr>
    <% end %>

  </tbody>
</table>
