<h3>Order Details</h3>

<p><strong>Date:</strong> <%= @order.date.strftime("%B %d, %Y") %></p>
<p><strong>Customer:</strong> <%= @order.customer.proper_name %></p>
<p><strong>Recipient:</strong> <%= link_to @order.address.recipient, address_path(@order.address) %></p>

<h4>Items:</h4>
<ul>
  <% @order.order_items.each do |oi| %>
    <li><%= "#{oi.item.name} (#{oi.quantity})" %></li>
  <% end %>
</ul>


<p><strong>Total Cost:</strong> <%= number_to_currency(@order.grand_total) %></p>
<!-- GenAI_prompts row 16: ChatGPT, prompt: "How to format to one decimal place, is there a built-in function?" -->
<p><strong>Total Weight:</strong> <%= number_with_precision(@order.total_weight, precision: 1) %> lbs</p>

<h4>Other Orders</h4>
<table class="striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @other_orders.each do |order| %>
      <tr>
        <td><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
        <td>
          <% if order.grand_total.present? %>
            <%= number_to_currency(order.grand_total) %>
          <% else %>
            <%= number_to_currency(0) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
